
 #root {
  height: 100vh;
  width: 2500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #2a2a2a00 !important;
  margin-left: 30px !important;
  margin-right: 30px !important;
  overflow-x: hidden;
}


h2,
h4,
footer {
  color: #f5f5f1 !important;
}
#main hr{
  color: #ffffff !important;
}
.main-h2 {
  color: #90c2d0 !important;
}

.icons {
  margin-left: 0.8em;
  margin-right: 0.8em;
  font-size: 1.2em;
  color: #f5f5f1;
}
#Navbar{
background-color: #90c2d0 !important;
border-radius: 50px;
}
#Navbar a {
color: #221f1f !important;
font-size: 15px;
  
}
.navbar-nav {
  font-size: 90%;
}

#kids {
  color: #f5f5f1;
  font-size: 0.8em;
}

.footer-icon {
  color: #90c2d0;
}

.footer-links {
  font-size: 0.8em;
}

.footer-links p {
  margin-bottom: 0.3em;

}

.footer-links a {
  color: #90c2d0;
  text-decoration: none;
}

.footer-button {
  color: #90c2d0 !important;
  border-color: #90c2d0 !important;
}
.footer-text{
  color: white;
}

.copyright {
  color: #90c2d0;
  font-size: 0.6em;
}

.col img {
  transition: transform 0.2s;
}

.col img:hover {
  transform: scale(1.1);
}
a {
  text-decoration: none;
  color: white;
}
.custom-navbar {
  background-color: #221f1f;
}

.logo-image {
  width: 100px;
  height: 55px;
}

.container {
  margin: 0 auto; 
  max-width: 100%; 
  overflow-x: hidden; 
}


@media (max-width: 768px) {
  .container {
    padding-left: 15px; 
    padding-right: 15px; 
  }
}

@media (max-width: 768px) {
  .chat-container {
      width: 90%;
  }
}

.dropdownNav{
  background-Color: '#2a2a2a00' !important;
    border-Color: 'black' !important;

}

.no-hover{
  color: white !important;
}

.no-hover:hover {
  background-color: #2a2a2afd !important;
  color: white !important;
}

.space{

height: 300px !important;

}
.space2{

  height: 120px !important;
  
  }

.chat-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.chat-message {
  margin-bottom: 20px;
  clear: both;
  overflow: hidden;
}

.message-content {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
}
.message-content p {
  color: white;
}

.bot .message-content {
  background-color: #343434fd;
  float: left;
}

.user .message-content {
  background-color: #606060fd;
  float: right;
}

.message-timestamp {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
  float: right;
}

.myNav{
  color: gray 
}
.chatItem{
  border-radius: 12px;
  background-color: #606060fd !important;
  color: white !important;
  border-color: #777 !important;
}
.deleteIcon{
  font-size: 25px !important;
  padding: 0 !important;
}

.myDropDown{
  background-color: #2a2a2a00 !important ;
  border-color: #777 !important;
  margin-top: 100px !important;
}

.modal-content{
  background: transparent !important;
  color: white !important;
  border-color: #777 !important;
}
#formState{
  background-color:#2a2a2afd ;
  color: white;
}
#formDate{
  background-color:#2a2a2afd ;
  color: white;
}
#formId {
  background-color:#2a2a2afd ;
  color: white ;
}
#formAvatar{
  background-color:#2a2a2afd ;
  color: white;
}
#formTitle{
  background-color:#2a2a2afd ;
  color: white;
}
#formPlace{
  background-color:#2a2a2afd ;
  color: white;
}
#formDescription{
  background-color:#2a2a2afd ;
  color: white;
}
#formExpireDate{
  background-color:#2a2a2afd ;
  color: white;
}


.modal-content button.btn-close {
 background-color: red;
}
.dropdown-menu.show{
  background: transparent !important;
  border-color: #777 !important;
}
.dropdown-menu.show a{
  color: white;
}
.dropdown-menu.show a:hover{
  background-color: #2a2a2afd;
}
#stateDropdown{
background-color: #2a2a2afd !important;
}

.CardProfile{
  background-color: transparent !important ;
  border-color: #777 !important;
  color: white;
}

.CardProfile div {
  color: white;
  border-color: #777 !important;
  background-color: transparent !important ;

}

.editProfile{
  background-color: #2a2a2a00 !important ;
  color: white;
  border-color: #777 !important;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #777;
  margin-bottom: 10px;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
}

.calendar-day {
  border: 1px solid #777;
  /* #ccc */
  padding: 10px;
  min-height: 100px;
  position: relative;
}

.calendar-day.empty {
  background-color: #e0e0e0 ;
}
.calendar-day .day-number {
  color: white; 
}

.appointment, .todo, .done {
  background-color: #f0f0f0;
  margin-top: 5px;
  padding: 5px;
  border-radius: 3px;
}

.appointment {
  background-color: #add8e6; 
}

.todo {
  background-color: #ffebcd ; 
}

.done {
  background-color: #90ee90; 
}
